<main>
  <h1 id="mainHeadingEvents">Partners</h1>
  <section class="event-detailsContainer">
    {{#each partners}}
      <div class="event-box">
        <div class>
          <a href="#" class="partners-box">
            <h4 class="event-name"> {{pname}}</h4>
            <p class="event-text1">
              {{pdesc}}</p>
            <div>
              {{!-- <div><time class="event-date">{{date}}</time>
              <span class="fullstop">.</span>
              <time class="event-time">{{time}}</time>
              <address class="event-place"><i></i> --}}
              <span class="website-add"><i class="fas fa-external-link-alt"></i>
                {{pwebsite}}</span>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
  </section>
</main>