<main>
  <h1 id="user-heading">Users</h1>
  {{#if session.isAdmin}}
    <div class="newUser-button"><a
        href="/users/new"
        class="newUser-button"
      >New User</a></div>
  {{/if}}
  {{#each users}}
    <div class="table"><ul id="user-table">
        <h2>User details</h2>
        <li class="li-details">Name:{{name}}</li>
        <li class="li-details">Email:{{email}}</li>
        <li class="li-details">Phone Number:{{phonenumber}}</li>
        <li class="li-details">Username:{{username}}</li>
        {{#if ../session.isAdmin}}
         <div class="main-modify" > <a href="/users/modify/{{userid}}" class="modify">Modify</a>
         <a href="/users/delete/{{userid}}" class="modify">Delete</a></div>
          {{/if}}
      </ul>
 
    </div>
  {{/each}}
</main>